body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    color: #333;
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

input[type="text"], input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px 16px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

ul#tasks-list {
    list-style: none;
    padding: 0;
}

li.task-item {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.completed .task-name {
    text-decoration: line-through;
    color: gray;
}

.task-name {
    flex: 1;
    margin: 0 10px;
}

.delete-task {
    background: #dc3545;
}

.delete-task:hover {
    background: #a71d2a;
}

.message {
    color: green;
    margin-top: -10px;
    margin-bottom: 20px;
}